body {
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  background-color: #FED8B1;
}

div {
  display: flex;
  flex-wrap: wrap;
}

label {
  text-align: center;
}

input {
  color: #000000;
  border-color: #FFFF00;
  font-size: 20px;
}

select {
  font-size: 20px;
}

ul {
  list-style-type: none;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #FFA500;
  border-radius: 10px;
  box-shadow: 5px 5px;
  padding: 10px;
  animation: slide-up 0.5s ease;
}

h1 {
  text-align: center;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

li {
  margin: 10px;
  font-family: 'Chewy', cursive;
}

.form-wrapper {
  display: flex;
}

.form-item {
  flex-direction: column;
  font-size: 20;
  border-radius: 10px;
  background-color: #FF8C00;
  box-shadow: 5px 5px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  animation: slide-down 0.5s ease;
}

.diet {
  flex-direction: column;
}

.placesoforigin {
  flex-direction: column;
}

.btn {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 100px;
  margin: 10px;
  background: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px;
  color: #000000;
  font-size: 20px;
  font-family: 'Bangers', cursive;
  text-align: center;
  animation: fade-in 0.5s ease;
}

.seed {
  background-color: #DAA520;
}

.save {
  background-color: #90EE90;
}

.save:hover {background-color: #3E8E41}

.save:active {
  background-color: #3E8E41;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}

.reset {
  background-color: #FFBF00;
}

.reset:hover {background-color: #594D27}

.reset:active {
  background-color: #594D27;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}

.delete {
  margin-right: 80%;
  background-color: #FF6347;
}

.delete:hover {background-color: #FF0000}

.delete:active {
  background-color: #FF0000;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}

.FFA07A {
  background-color: #FFA07A;
}

.F08080 {
  background-color: #F08080;
}

.FF7F50 {
  background-color: #FF7F50;
}

.FFD700 {
  background-color: #FFD700;
}

.FFEFD5 {
  background-color: #FFEFD5;
}

.FFFF00 {
  background-color: #FFFF00;
}

.00FF7F {
  background-color: #00FF7F;
}

.AFEEEE {
  background-color: #AFEEEE;
}

.B0E0E6 {
  background-color: #B0E0E6;
}

.87CEEB {
  background-color: #87CEEB;
}

.E6E6FA {
  background-color: #E6E6FA;
}

.FFFFF0 {
  background-color: #FFFFF0;
}

.F5DEB3 {
  background-color: #F5DEB3;
}

.D2B48C {
  background-color: #D2B48C;
}

.FFDD52 {
  background-color: #FFDD52;
}

.C9C37D {
  background-color: #C9C37D;
}

.FFA500 {
  background-color: #FFA500;
}
